<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizador Académico de tareas</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="encabezado">
    <h1>Organizador Académico de Tareas</h1>
    <p>Organiza y gestiona tus tareas académicas de manera eficiente</p>
</div>
<div class="panel_principal">
    <div class="contenedor_formulario">
        <h2>Agregar tarea</h2>
    <form action="/guardar" method="POST">
        <label>Nombre de la tarea:</label>
        <br>
        <input type="text" name="titulo"  placeholder="Ingresar un nombre corto" required >
        <br><br>

        <label>Elegir materia:</label>
        <br>
        <select name="materia" >

    <option>Matemáticas</option>
    <option>Lengua y Literatura</option>
    <option>Inglés</option>
    <option>Física</option>
    <option>Química</option>
    <option>Otras</option>

</select>
        <br><br>

        <label>Descripción:</label>
        <br>
        <textarea name="descripcion" placeholder="Ingresar detalles de la tarea o instrucciones relacionadas" required></textarea>
        <br><br>

        <label>Fecha de entrega:</label>
        <br>
        <input type="date" name="fecha" required >
        <br><br>

        <button type="submit">
            Guardar tarea
        </button>

    </form>
    </div>
    <div class="resumen">
        <h2>Tareas pendientes</h2>
        <p>Matemáticas: {{ matematicas }} pendientes</p>
        <p>Lengua y Literatura: {{ lengua }} pendientes</p>
        <p>Inglés: {{ ingles }} pendientes</p>
        <p>Física: {{ fisica }} pendientes</p>
        <p>Química: {{ quimica }} pendientes</p>
        <p>Otras: {{ otras }} pendientes</p>
    </div>
</div>
    <hr>
    <h2>Tareas guardadas-Materias</h2>
    <h2>Próximas tareas por entregar</h2>
    {% if proximas %}
    <div class="tareas_contenedor">
    {% for tarea in proximas %}
    <div class="tarea">
        <h3>{{ tarea[1] }}</h3>
        <p>{{ tarea[3] }}</p>
        <p>Fecha: {{ tarea[4] }}</p>
        <p><strong>Materia:</strong> {{ tarea[2] }}</p>
    
        {% if tarea[5] == "Pendiente" %}
            <p class="pendiente">⏳ Pendiente</p>
        {% else %}
   
            <p class="completada">✅ Completada</p>
        {% endif %}
    </div>
    
    {% endfor %}
   
    {% else %}
    <p>No hay tareas próximas por entregar.</p>
    {% endif %}
  </div>
<div class="busqueda">
<form action="/buscar" method="GET">
    <input type="text" name="texto" placeholder="Buscar por título de tarea..." required>
    <button type="submit">🔍 Buscar</button>
</form>
</div>
<div class="grid-materias">

    <a href="/matematicas" class="tarjeta-materia matematicas">
        <h3>📘 Matemáticas</h3>
    </a>

    <a href="/lengua" class="tarjeta-materia lengua">
        <h3>📖 Lengua y Literatura</h3>
    </a>

    <a href="/ingles" class="tarjeta-materia ingles">
        <h3>🇬🇧 Inglés</h3>
    </a>

    <a href="/fisica" class="tarjeta-materia fisica">
        <h3>⚛️ Física</h3>
    </a>

    <a href="/quimica" class="tarjeta-materia quimica">
        <h3>🧪 Química</h3>
    </a>

    <a href="/otras" class="tarjeta-materia otras">
        <h3>📂 Otras</h3>
    </a>

</div>

</body>
</html>